@{
  Layout = "_Layout";
}

@model Bakery.Models.Treats

<h2>Edit</h2>

<h4>Edit this task: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatsId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    <hr/>

    @Html.Label("Select flavor")
    @Html.DropDownList("FlavorsId")
    <hr/>

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>