@{
  Layout = "_Layout";
}

@model Bakery.Models.Flavors;

<h2>Flavors Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): 
@Html.DisplayFor(model => model.Name)</h3>

@if(@Model.Treats.Count == 0)
{
  <p>This flavor does not contain any treats</p>
}

else
{
  <h4>Treats the flavor contains:</h4>
  <ul>
  @foreach(var join in Model.Treats)
  {
    <li>@join.Treats.Name</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to flavors", "Index")</p>
<p>@Html.ActionLink("Edit Category", "Edit", new { id = Model.FlavorsId })</p>
<p>@Html.ActionLink("Delete Category", "Delete", new { id = Model.FlavorsId })</p>